.tabsMain {
    background-color: #3d3d3d;
    border-radius: 15px;
    padding-left: 10px;
}

.tabButton {
    all: unset;
    border-bottom: 1px solid white;
    background-color: #9b9b9b;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-right: 1px solid white;
    font-weight: 600;
}

.tabButton:hover {
    background-color: #d5d5d5;
}

.active {
    background-color: #d5d5d5;
}

.tab-content {
    padding: -20px;
}
