
.oneTrade {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    /* font-size: medium; */
}
.tradeName {
    text-decoration: underline;
}
.arrows {
    display: flex;
}