
.manyTrades {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.oneTrade {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0px;
}
.singleTrade {
    width: 40%;
    font-size: medium;
}
.arrows {
    display: flex;
}
.tradeDay {
    margin-top: -5px;
    margin-bottom: -20px;
}
.tradeName {
    height: 110px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pending {
    color: #00d6ff;
}
.declined {
    color: red;
}
.accepted {
    color: #00c100;
}