
table {
    border-radius: 15px;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1em;

    padding: 15px;
    width: 90%;
}
thead {
    background-color: #939393;
    font-size: smaller;
    color: black;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid white;
}
thead th {
    padding: 10px 10px;
}
tbody {
    font-size: smaller;
    background-color: #4a4a4a;
}
tbody td {
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;
}
  
tbody tr:nth-of-type(even) {
    background-color: #383838;
}

.tableMain {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: flex-start;
}
